@import "components/variables";

*{
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
}

.header{
    background-image: url('../img/landingWaves.png');
    width: 100%;
    height: 180px;

    .header-test{
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
    }

    .header-right a{
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        margin-right: 40px;
    }
    
}

.landing-section{
    display: flex;
    align-items: center;

    .main-right{
        margin-left: auto;
        margin-right: 150px;

        img{
            width: 60vh;
        }
    }

    .introduction{
        margin-left: 150px;
        font-weight: 100;

        .intro-title{
            text-transform: uppercase;
            color: $purple;
            font-size: 1.1rem;
            padding-bottom: 30px;
        }

        .description{
            font-size: 3rem;

        }

        button{
            width: 30%;
            height: 40px;
            border-radius: 4px;
            border: none;
            background-color: $purple;
            color: white;
            font-size: 1rem;
            margin-top: 20px;
        }
    }
}

.scrolldown{
    display: flex;
    margin-left: 150px;

    p{
        color: $purple;
        text-transform: uppercase;
    }
}

.about-me{

    .waves-up{
        width: 100%;
        margin-top: 200px;
        position: relative;
        top: 5px;
    }

    .waves-down{
        width: 100%;
    }
    
    .main-about{
        display: flex;
        align-items: center;
        background-color: $purple;
        height: 400px;
        overflow: hidden;

        .about-text{
            margin-left: 200px;
            margin-right: 150px;
        }

        .about-title{
            font-size: 3rem;
        }

        .about-p{
            margin-top: 20px;
        }

        .aboutme-img{
            height: 50vh;
            margin-right: 200px;
        }
    }
}

.projects-section{
    margin-left: 200px;
    margin-right: 180px;
    padding-bottom: 100px;
    h2{
        margin-top: 150px;
        font-size: 3rem;
        color: $purple;
    }
    .projects{

        display: flex;

        .project{
            display: flex;
            flex-direction: column;
            border: 2px solid $purple;
            margin-top: 20px;
            margin-right: 20px;
            border-radius: 10px;
            background-color: $light-purple;
            padding: 20px;
            text-align: center;

            h3{
                margin-bottom:15px;
            }

            p{
                text-align: justify;
                margin-bottom: 20px;
            }

            a{
                text-decoration: none;
                margin-top: auto;
            }
        }
    }

}

.contact{
    margin-bottom: 40px;

    h2{
        color: $purple;
        font-size: 3rem;
        margin-left: 200px;
        margin-top: 100px;
    }

    .contactme{
        display: flex;
        margin-top: 50px;

        img{
            margin-left: 200px;
            width: 45vh;
        }

        form{
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: 200px;

            label{
            color: $purple;
            }

            input{
                height: 40px;
            }

            textarea{
                height: 80px;
                padding-top: 8px;
            }

            #fname, textarea{
                width: 50vh;
                margin-top: 10px;
                margin-bottom: 10px;
                padding-left: 10px;
                border-radius: 10px;
                border: 2px solid $purple;
            }

            .submit{
                background-color: $purple;
                border-radius: 10px;
                border: 2px solid $purple;
                color: white;
                margin-top: 10px;
            }

            button{
                height: 4vh;
                font-size: 0.8rem;
            }
        }
        
    
    }
}

.footer{
    text-align: center;
    margin-top: 80px;
    background-color: $light-purple;
    height: 70px;
    line-height: 70px;
}

@media (max-width: 1082px){

    .header-test{
        font-size: 0.8rem;
    }
    
    .landing-section{

        .introduction{
            
            .description{
                font-size: 2.2rem;
            }

            button{
                font-size: 0.8rem;
            }
        }

        .main-right{

            img{
                width: 54vh;
            }
        }
    }

    .scrolldown{
        
        p{
            font-size: 0.9rem;

            img{
                width: 2vh;
            }
        }
    }

    .about-me{
        
        .main-about{

            .about-text{

                .about-title{
                    font-size: 1.8rem;
                }

                .about-p{
                    font-size: 1rem;
                }
            }

            .aboutme-img{
                width: 54vh;
                height: 40vh;
            }
        }
    }

    .projects-section{
        
        .project{

            p{
                font-size: 0.9rem;
            }
        }
    }
    
    .contact{

        .contactme{

            form{
                margin-right: 150px;
            }
        }
    }
}

@media (max-width: 320px){

    img{
        display: none;
    }

    .header{

        .header-test{

            .header-left{
                display: none;
            }

            .header-right{
                margin-left: 30px;
                
                a{
                    margin-right: 8px;
                    font-size: 0.9rem;
                }
            }
        }
    }


    .landing-section{
        display: flex;
        flex-direction: column;

        .introduction{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 280px;
            margin: 0px 10px 0px 10px;
            .intro-title{
                font-size: 1rem;
            }

            .description{
                font-size: 2rem;
            }
        }
    }

    .scrolldown{
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .about-me{
        
        .main-about{
            border-radius: 2px;
            .about-text{
                margin: 0px 10px 0px 10px;
            }
        }
    }

    .projects-section{
        margin: 0px 10px 0px 10px;

        .projects{
            
                flex-wrap: wrap;
            .project{
                margin: 20px 0px 0px 0px ;
            }
        }
    }

    .contact{
        margin: 0px 10px 0px 10px;

        h2{
            margin: 0px;
        }

        .contactme{
            form{
                
                #fname, #subject{
                   width: 285px;
                }

                button{
                    height: 30px;
                }
            }

            
            
        }
        

    }
}